body{
	padding:0px;
	margin:0px;
}
.padded-body{
	padding:10px;
	margin:10px;
}
#agate-banner{
	width: 200px;
	height: 200px;
	float: right;
	background-color: #00BCFF;
	border-bottom-left-radius: 200px;
	text-align: right;
	font-family: 'Manrope', sans-serif;
	color: #FFFFFF;
	font-weight: 100;
	font-size: 10px;
	padding: 0px;
	margin: 0px;
}
#agate-banner img{
	width: 180px;
}
#annotation-text{
	width:100%;
	height:200px;
	border:1px solid #000000;
	border-radius:5px;
	font-family:sans-serif;
	font-size:20px;
	padding : 10px;
}

#ner-div{
	display : inline;
	border:none;
	border-radius:10px;
	padding:3px;
	margin:3px;
	background-color:#FF99FF;
}
#mark-complete-button{
	width:400px;
	height:50px;
	font-size:20px;
	color:#FFFFFF;
	background-color: #00BCFF;
	border: 1px solid #FFFFFF;
}
.ner{
	background-color:#FF99FF;
}
.italic-class{
	color : #0000FF;
}
.ner-button{
	min-width:100px;
	display:inline;
	padding:5px;
	margin:5px;
	border:1px solid #FFFFFF;
	border-radius:10px;
}
#JSON-out{
	width:100%;
	height:200px;
	border:1px solid #000000;
	border-radius:5px;
	font-family:sans-serif;
	font-size:20px;
	padding : 10px;
	overflow:scroll;
}
#heading{
	font-size:40px;
	font-family: 'Kaushan Script', cursive;
	width:100%;
	color:#000000;
	margin:0px;
	padding:0px;
}
.JSONdelete{
	float:right;
	cursor:pointer;
}
.entityJSON{
	width:100%;
}
#raw-data-div,#completed-data-div{
	width:100%;
	height:200px;
	border:1px solid #000000;
	border-radius:5px;
	font-family:sans-serif;
	font-size:20px;
	padding : 10px;
	overflow:scroll;
}
.raw-data-row:nth-child(odd){
	background-color:#DDDDDD;
}
.raw-data-row:nth-child(even){
	background-color:#FFFFFF;
}
.sm-button{
	width:200px;
	height:40px;
	background-color : #00BCFF;
	border:1px solid #FFFFFF;
	color:#FFFFFF;
	font-size : 20px;
}
#completion-percent{
	width:100%;
	background-color:#FF0000;
	color:#FFFFFF;
	height:3px;
}
#completion-percent::-webkit-progress-bar{
	background-color:#BBBBFF;
	color:#FFFFFF;
}
#completion-percent::-webkit-progress-value{
	background-color:#00BCFF;
	color:#FFFFFF;
}
.box-headings{
	width:400px;
}